
body,html{
	width: 100%;
	min-height: 100%;
	background-color: #ffc20d;
	font-family: 'Roboto' !important;
}
#wrapper{
	width: 100%;
	margin:0;
	min-height: 100%;
	padding: 20px;
	
}
@font-face {
  font-family: 'Monitorica';
  src: url("../../Website/Monitorica-Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
input, textarea, select, button {
  font-family: "Monitorica";
  font-size: 14px;
  line-height: 160%; }
#logo {
	margin: 0 auto 0 auto;
	background:url('../../Website/logo.png');
	max-width: 70%;
	height: auto;
}
.btn{
	color: #1e3d55 !important;
	    text-decoration: none !important;
	    border: 2px solid !important;
	    padding: 8px !important;
	    font-size: 28px !important;
	    font-weight: 700;
	    background: none;
}
#regbox{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 26px;

}/*

#content {
	margin: 0 auto 0 auto;
	width: 95%;
}

#content #left-nav {
	width:15%;
	float:left;
	font-size:95%;
}

#content #left-nav ul {
	padding:0 0 50px 0;
	margin:0;
}

#content #left-nav ul li {
	padding:0;
	margin:0;
	list-style:none;
	display:inline-block;
}

#content #left-nav ul li a {
	text-decoration:none;
}

#content #left-nav ul li a:hover {
	color:#ff0505;
	text-decoration:underline;
}

#content #main {
	float:left;
	width:85%;
	font-size:90%;
}

#content #main #regbox {
	padding: 0 0 0 0;
}

#content #main #regbox label {
	width:100px;
	float:left;
}
*/
table.admin td {
	vertical-align: top;	
}

#error {
	display:block;
	margin:5px;
	color:#4d4948;
	background-color:#fffebe;
	border: 1px solid #cbcbcb;
	font-size:90%;
}

#success {
	margin:5px;
	color:#4d4948;
	background-color:#bce9b5;
	border: 1px solid #7ace6c;
	font-size:90%;
}
.top{
	text-align: center;
}
a.button, button.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: #ffca00;
  color: #1e3d55;
  font-size: 26px;
  font-weight: bold;
  padding: 29px 35px 31px;
  text-align: center;
  -webkit-transition: background-color 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -moz-transition: background-color 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -ms-transition: background-color 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -o-transition: background-color 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: background-color 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67); }
  a.button.button-primary, button.button.button-primary {
    background: #214760;
    color: #ffca00; }
    a.button.button-primary:hover, a.button.button-primary:focus, button.button.button-primary:hover, button.button.button-primary:focus {
      background: #285573; }
  a.button.button-secondary, a.button.button-cta, button.button.button-secondary, button.button.button-cta {
    background: #ffca00;
    color: #1e3d55; }
    a.button.button-secondary:hover, a.button.button-cta:hover, a.button.button-secondary:focus, a.button.button-cta:focus, button.button.button-secondary:hover, button.button.button-cta:hover, button.button.button-secondary:focus, button.button.button-cta:focus {
      background: #ffd533; }
  a.button.button-disabled, button.button.button-disabled {
    cursor: default;
    background: #bcc7cf;
    color: #657c8d; }
    a.button.button-disabled:hover, a.button.button-disabled:focus, button.button.button-disabled:hover, button.button.button-disabled:focus {
      background: #bcc7cf; }
  a.button.button-cta, button.button.button-cta {
    border: 2px solid #214760;
    border-radius: 3px; }
.list-nav{
	
	font-size: 24px;
	background: white;
	border-radius: 8px;
	margin: 20px;
}